@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .header_top_icon_wrapper{
    @apply bg-gray-200 rounded-md p-[6px] text-[-14px] cursor-pointer hover:bg-accent hover:text-white;
  }
  .container{
    max-width: 95%;
  }

.navbar_link{
  color: #000;
  position: relative;
  transition: all 0.4s;
}
.navbar_link::after{
  position: absolute;
  content: '';
  background-color: #ff8f9c;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s;
}

.navbar_link:hover::after{
  transform: scaleX(1);
}
.col-xl-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.pos-rel {
  position: relative;
}
.category-banner-single {
  overflow: hidden;
}
.category-banner-img img {
  object-fit: cover;
  width: 100%;
  transition: .6s;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}
.category-banner-inner {
  padding: 30px 40px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
.category-banner-content .product-category {
  font-size: 28px;
  display: inline-block;
  color: var(--clr-common-heading);
  font-weight: 600;
  margin-bottom: 5px;
}
.category-banner-content .category-short-desc {
  color: var(--clr-common-heading);
  margin-bottom: 23px;
}
.category-banner-content .border-btn {
  font-size: 14px;
  height: 35px;
  line-height: 33px;
  /* padding: 0 20px; */
  font-weight: 500;
}
.footer-single-widget {
  flex-basis: 17.5%;
}
.footer-single-widget__copyright {
  font-size: 15px;
  line-height: 2;
  color: #777;
}
.footer-single-widget__nav ul li a {
  font-size: 15px;
  line-height: 1.3;
  position: relative;
  color: #999;
}
}