@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .header_top_icon_wrapper{
    @apply bg-gray-200 rounded-md p-[6px] text-[-14px] cursor-pointer hover:bg-accent hover:text-white;
  }
  .container{
    max-width: 95%;
  }

.navbar_link{
  color: #000;
  position: relative;
  transition: all 0.4s;
}
.navbar_link::after{
  position: absolute;
  content: '';
  background-color: #ff8f9c;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s;
}

.navbar_link:hover::after{
  transform: scaleX(1);
}

}